*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* COMUNI */

/* clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* fine clearfix */

/* float */
.float-left{
    float: left;
}

.float-right{
    float: right;
}
/* float */

.blue-btn{
    background-color: #0061ff;
    padding: 7px 18px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

/* FINE COMUNI */


/* HEADER */
header{
    height:85px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
    border: 0.8px solid #d0d0d3;
}

header > div, header > nav{
    height: 80px;
    line-height: 80px;
}

/* header hover */
header li:not(.login li:last-child):hover{
    border-bottom: 2px solid black;
}

/* LOGO */
.logo{
    width: 8%;
}

.logo img{
    height: 30%;
    vertical-align: middle;
    padding-left: 15px;
}
/* FINE LOGO */


/* NAV */
nav{
    width: 80%;
}

/* li */
header li{
    display: inline-block;
    padding:0 20px;
}
/* fine li */

/* a */
header a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
/* fine a */

/* FINE NAV */

/* LOGIN */
.login{
    width: 12%;
}

.blue-btn:hover{
    filter: opacity(80%);
}
/* FINE LOGIN */

/* FINE HEADER */

/* JUMBOTRON */
.jumbotron{
    background-color: #b4d0e7;
    padding-top: 40px;
    margin-bottom: 250px;
}

.jumbotron-box{
    width: 70%;
    margin: 0 auto;
    position: relative;
    bottom: -90px;
}

h1{
    font-size: 80px;
    line-height: 108px;
    letter-spacing: -3px;
    font-family: 'Antonio', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.jumbotron-text{
    width: 27%;
}

.jumbotron-img{
    width: 73%;
    padding-left: 60px;
}

.jumbotron-img img{
    width: 100%;
}

.jumbotron-text p{
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 35px;
}

.jumbotron-text a{
    font-size: 18px;
    padding: 12px 18px;
    letter-spacing: 1px;
}

.jumbotron-text .annulla{
    margin-top: 20px;
    font-size: 16px;
}

a.arrow{
    font-size: 45px;
    text-decoration: none;
    color: black;
    padding: 0 0;
}

/* FINE JUMBOTRON */


/* CONTAINER */
.container{
    width: 55%;
    height: 100%;
    margin: 0 auto;
}
/* FINE CONTAINER */


/* COMUNI DI SECTION */

section h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 40px;
}

section p{
    font-size: 18px;
    line-height: 20px;
}

/* FINE COMUNI DI SECTION */





/* INIZIO PLANS SEZIONE */

.plans-section .radio li{
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
    line-height: 20px;
}

.plans-section .radio li::before{
    display: inline-block;
    content: "";
    border-radius: 50%;
    border: 1px solid lightgray;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.plans-section .radio li:hover:before{
    display: inline-block;
    content: "";
    border-radius: 50%;
    border: 5px solid #0061ff;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    margin-right: 5px;
}


/* COLS E BOX 3 COLONNE */
.cols-box{
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
    height: 850px;
}

.cols-box .cols{
    float: left;
    width: calc((100% - 120px) / 3);
    height: 100%;
}

.cols-box .centrale, .operation-row .centrale{
    margin: 0 60px;
}
/* FINE COLS E BOX 3 COLONNE */


.plans-section p{
    font-size: 16px;
}

.plans-section .cols, .row{
    border: 0.8px solid #d0d0d3;
}

.plans-section .cols > p:first-child, .plans-section .row > p:first-child{
    text-align: center;
    line-height: 40px;
    border-bottom: 0.8px solid #d0d0d3;
}

.plans-section .singolo:before{
    content:url(../img/singolo.svg);
    margin-right: 5px;
}

.plans-section .team:before{
    content:url(../img/team.svg);
    margin-right: 5px;
}

.cols-padding{
    padding: 30px 30px;
}

.col1{
    padding-bottom: 65px;
}

.col3{
    padding-bottom: 53px;
}

.plans-section .cols h3, .row h3, .partner-box h3{
    font-size: 30px;
    margin-bottom: 15px;
}

.cols-padding > p:nth-child(3){
    color: #637381;
    font-size: 14px;
}

.cols-padding > p:nth-child(2){
    margin-bottom: 15px;
}

.plans-details{
    margin-top: 40px
}

.plans-details li{
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;    
}

.col1 .plans-details li:nth-child(1){
    list-style: url(../img/icona-utente.svg);
}

.col2 .plans-details li:nth-child(1), .col3 .plans-details li:nth-child(1){
    list-style: url(../img/icona-gruppo.svg);
}

.cols-padding .plans-details li:nth-child(2){
    list-style: url(../img/icona-cartella.svg);
}

.col1 .plans-details li:nth-child(3){
    list-style: url(../img/icona-matita.svg);
}

.col2 .plans-details li:nth-child(3), .col3 .plans-details li:nth-child(3){
    list-style: url(../img/icona-smile.svg);
}

.plans-btn{
    margin: 40px auto 20px;
    display: block;
    text-align: center;
    padding: 15px;
}

.col1 .plans-btn{
    margin: 46px auto 20px;
}

.cols-padding p > span{
    border-bottom: 0.8px solid #d0d0d3;
    padding-bottom: 30px;
}

.buy-now{
    color: blue;
}

.buy-now:hover{
    text-decoration: none;
}

.cols-padding h4{
    margin: 60px 0 25px;
    font-size: 18px;
}

.cols-padding .highlights li{
    list-style: ' \2713';
    list-style-position: outside;
    color: #0061ff;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

.cols-padding .highlights li span{
    color: black;
}

.row{
    margin-bottom: 120px;
}


.fleft{
    float: left;
}

.fright{
    float: right;
}

.row .plans-btn{
    margin: 0;
    padding: 15px 50px;
}

.row .fleft p:nth-child(2){
margin-bottom: 20px;
}

.row .fleft p:nth-child(3){
    font-size: 13px;
}

/* riga partner */

.partner-box .fleft{
    width: 50%;
}

.partner-box img{
    width: 100%;
}

.partner-btn{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    letter-spacing: 1px;
}

.partner-btn:hover{
    background-color: #f5f5f5;
}

.p-box p{
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 1.6;
}

.p-box{
    padding-left: 81px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.partner-box > div:last-child{
    height: 455.017px;
    position: relative;
}






/* OPERATION SECTION */

.operation-section{
    margin-top: 120px;
}

.operation-row{
    margin-bottom: 100px;
}


.operation-row .fleft{
    width: calc((100% - 120px) /  3);
}

.operation-row h3{
    font-size: 28px;
    margin-bottom: 20px;
}

.operation-row img{
    width: 100%;
    margin-bottom: 20px;
}

.operation-row p{
    line-height: 1.6;
}





/* CLIENTS SECTION */

.clients-section h2{
    margin-bottom: 30px;
    max-width: 60%;
}

.clients-section a{
    color: blue;
    text-decoration: underline;
} 

.clients-section a:hover{
    text-decoration: none;
} 

.square-clients{
    width: 100%;
    height: 600px;
    background-color: #f5f5f5;
    margin-top: 50px;
}

.big-square{
    width: calc(100%/3);
    height: 100%;
}

.small-square{
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
}

.small-square img{
    width: 150px;
    height: 75px;
    display: block;
    margin: auto;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand-3 img{
    height: auto;
}

.brand-1{
    background-color: #a2d39b;
}
.brand-2{
    background-color: #61082b;
}
.brand-3{
    background-color: #0093ce;
}
.brand-4{
    background-color: #ff1c1c;
}
.brand-5{
    background-color: #d5001f;
}
.brand-6{
    background-color: #b4d0e7;
}
.brand-7{
    background-color: #0d2481;
}
.brand-8{
    background-color: #ffd830;
}

.big-square2{
    padding: 110px 50px ;
}

.big-square2 img{
    width: 150px;
    margin-bottom: 30px;
}

.big-square2 hr{
    width: 60px;
    border-width: 1px;
    color: #d0d0d3;
    border-style: solid;
}

.big-square2 p{
    margin: 100px 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
}

/* FINE CLIENTS SECTION */



/* PROVA GRATUITA SECTION */

.prova-gratuita-section{
    background-color: #b4d0e7;
    height: 332px;
    padding: 120px 0;
    margin-bottom: 150px;
}

.prova-gratuita-section h2{
    float: left;
    color: #61082b;
    max-width: 65%;
}

.prova-gratuita-section a{
    float: right;
    text-decoration: none;
    padding: 12px 35px;
    background-color: #fff;
    color: black;
}

.prova-gratuita-section a:hover{
    background-color: #f5f5f5;
}

/* FINE PROVA GRATUITA SECTION */



/* DOMANDE FREQUENTI SECTION */

.faq{
    margin-bottom: 200px;
}


.faq h3{
    font-size: 40px;
    margin-bottom: 50px;
}

.faq li:first-of-type{
    padding: 30px 40px 30px 0;
    border-top: 0.8px solid #d0d0d3;
    border-bottom: 0.8px solid #d0d0d3;
    list-style: none;
}

.faq li{
    padding: 30px 40px 30px 0;
    border-bottom: 0.8px solid #d0d0d3;
    list-style: none;
}

.faq h4{
    float: left;
    font-size: 20px;
    font-weight: 400;
}

.faq li div{
    float: right;
    text-align: right;
}

.faq li span{
    display: inline-block;
    transform: rotate(90deg);
    vertical-align: middle;
    font-size: 25px;
}

.faq li p{
    display: none;
    color: #8c98a2;
    line-height: 1.6;
    padding-top: 15px;
    max-width: 85%;
}

.faq li p a{
    color: #8c98a2;
}

.faq li:hover > p{
    display: inline-block;
}

.faq li:hover > div span{
    display: inline-block;
    transform: rotate(-90deg);
}


/* FINE DOMANDE FREQUENTI SECTION */



/* FOOTER */

footer{
    background-color: black;
}

.footer-top{
    padding-top: 150px;
    margin-bottom: 150px;
}

.footer-top .fleft{
    width: 20%;
}

.footer-top li{
    list-style: none;
    color: white;
    font-size: 15px;
    line-height: 2.5;
}

.footer-top .fleft li:first-child{
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-top li a{
    color: white;
    text-decoration: none;
}

.footer-top a:hover{
    color: white;
    text-decoration: underline;
}

.footer-bottom {
    line-height:22px;
    padding-bottom: 150px;
}

.footer-bottom img{
    height: 22px;
    filter: invert(1);
    opacity: 70%;
    margin-right: 10px;
    vertical-align: middle;
}

.footer-bottom span{
    color: grey;
}

.footer-bottom span:nth-of-type(2){
    display: inline-block;
    transform: rotate(-90deg);
    margin-left: 10px;
}